
# compile files and other auto-created files
project/parkbox/DebugConfig
project/parkbox/RTE/
project/parkbox/parkbox.uvguix.*
project/parkbox/f103_bl
project/parkbox/f103_app
project/parkbox/f427_bl
project/parkbox/f427_app
